:root {
  --primary-color: #050200;
  --secondary-color: #e6e6e6;;
  --tertiary-color: #fac800; 
  --font-family: 'itc-avant-garde-gothic-pro';
  --font-big: 12.5vw;
}

body {
  font-family: var(--font-family);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url('assets/About/bg.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

#site-title {
  font-size: 11.5vw;
  line-height: 9.5vw;
  font-weight: 700;
  position: fixed;
  top: 5%;
}

.accordion {
  .item {
    line-height: 6em;
    border-bottom-width: 0.5vw;
    border-bottom-color: var(--secondary-color);

    button {
      font-size: var(--font-big);
      font-weight: 900;
      line-height: 8vw;
      padding-top: 3.3vw;
      padding-bottom: 1vw
    }

    .content {
      color: var(--secondary-color);
      white-space: pre-line;
      font-weight: 700;
      font-kerning: auto; 
      margin-bottom: 0.5em;
      margin-right: 9vw;
      margin-left: 9vw;
      font-size: 3.9vw;
      line-height: 5.1vw;
    }
    &.active {
      .icon {
        transform: rotate(45deg);
      }
    }
  }
}

#menu {
  position: absolute;
  top: 100vh;
  width: 100vw;
  font-weight: 900;  
}

#menu-toggle {
  display: block;
  position: absolute;
  top: 90px;
  z-index: 1000;
  font-size: 2.5em;
  font-weight: 700;
}

#menu-opener {
  padding-bottom: 0.16em;
  justify-content: center;
}

.swiper {
  width: 80vw;
  height: 50vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next {
  color: var(--tertiary-color);
}

.swiper-button-prev {
  color: var(--tertiary-color);
}

.swiper-pagination-bullet {
  background: var(--tertiary-color);
}

.highlight {
color: var(--tertiary-color);
}

.cit {
  text-align: center;
}

.contacts {
  white-space: pre-line;
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.8vw;
  line-height: 1.2em;
}