:root {
  --primary-color: #f3f3f3;
  --secondary-color: #02021c;
  --tertiary-color: #f08b07; 
  --quadrary-color: #505050;
  --font-family: 'itc-avant-garde-gothic-pro';
  --font-big: 12.5vw;
}

body {
  font-family: var(--font-family);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url(assets/About/bg-white.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

body.loading {
  overflow: hidden;
}

/* Preloader copre tutto */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(244, 244, 244); /* Cambia colore se vuoi */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease;
  opacity: 1;
  pointer-events: all;
}

/* Loader: cerchio che gira */
.loader {
  width: 100px;
  height: auto;
  padding: 10px;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Classe per farlo scomparire */
#preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

#site-title {
  color: var(--secondary-color);
  font-size: 11.5vw;
  line-height: 9vw;
  font-weight: 700;
  position: fixed;
  top: 5%;
}

.accordion {
  .item {
    line-height: 6em;
    border-bottom-width: 0vw;
    border-bottom-color: var(--secondary-color);

    button {
      font-size: var(--font-big);
      font-weight: 900;
      line-height: 8vw;
      padding-top: 3.3vw;
      padding-bottom: 1vw
    }

    .contentps {
      color: var(--quadrary-color);
      white-space: pre-line;
      font-weight: 700;
      font-kerning: auto; 
      margin-bottom: 0.5em;
      margin-left: 4vw;
      margin-right: 4vw;
      font-size: 3.8vw;
      line-height: 4.5vw;
    }
    &.active {
      .icon {
        transform: rotate(45deg);
      }
    }

    .content {
      color: var(--quadrary-color);
      white-space: pre-line;
      font-weight: 700;
      font-kerning: auto; 
      margin-bottom: 0.5em;
      margin-left: 4vw;
      margin-right: 20vw;
      font-size: 3.7vw;
      line-height: 4.5vw;
    }
    &.active {
      .icon {
        transform: rotate(45deg);
      }
    }
  }
}


#menu {
  position: absolute;
  top: 100vh;
  width: 100vw;
  font-weight: 900;  
}

#menu-toggle {
  position: absolute;
  top: 17vh;
  justify-content: center;
  z-index: 1000;
  font-size:xx-large;
  line-height: 30%;
  font-weight: 700;
}

#menu-opener {
  padding-bottom: 0.16em;
  padding-left: 7;
  justify-content: left;
  align-items: left;
  font-size: 10vw;
  font-weight: 700;
}

.highlight {
color: var(--tertiary-color);
}

.cit {
  text-align: center;
}

.contacts {
  white-space: pre-line;
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.8vw;
  line-height: 1.2em;
}