:root {
  --primary-color: #050200;
  --secondary-color: #f2f2ee;
  --tertiary-color: #fac800;
  --font-family: 'inter', sans-serif;
  --font-big:8vw;
}

body {
  font-family: var(--font-family);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

#site-title {
  font-size: 6vw;
  line-height: 0.9em;
}

#logo-screen {
  position:fixed;
  justify-content: center;
  left: 40vw;
  height: 70v;
  color: var(--secondary-color);
}

.accordion {
  .item {
    line-height: 6em;
    border-bottom-width: 1vw;
    border-bottom-color: var(--secondary-color);

    button {
      font-size: var(--font-big);
      font-weight: 900;
      line-height: 2.5vw;
      padding-top: 2.4vw;
      padding-bottom: 1vw;
      padding-left: 30px;
    }
    
    .content {
      white-space: pre-line;
      margin-bottom: 0.5em;
      margin-right: 2vw;
      font-weight: 700;
      margin-left: 2vw;
      font-size: 2.8vw;
      line-height: 1.2em;
    }
    &.active {
      .icon {
        transform: rotate(45deg);
      }
    }
  }
}

#menu {
  position: absolute;
  top: 100vh;
  width: 100vw;
  font-weight: 900;  
}

#menu-toggle {
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1000;
  font-size: 12vh;
  font-weight: 700;
}

#menu-opener {
  padding-bottom: 0.16em;
  font-weight: 700;
  padding-right: 30px;
}

.swiper {
  width: 80vw;
  height: 50vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next {
  color: var(--tertiary-color);
}

.swiper-button-prev {
  color: var(--tertiary-color);
}

.swiper-pagination-bullet {
  background: var(--tertiary-color);
}

#highlight {
color: var(--tertiary-color);
}

.contacts {
  white-space: pre-line;
  margin-bottom: 0.5em;
  margin-right: 2vw;
  font-weight: 700;
  margin-left: 2vw;
  font-size: 1.8vw;
  line-height: 1.2em;
}