:root {
  --primary-color: #131313;
  --secondary-color: #f3f3f3;
  --tertiary-color: #f0bd07; 
  --quadrary-color: #9b9b9b;
  --font-family: 'itc-avant-garde-gothic-pro';
  --font-big: 12.5vw;
}

body {
  font-family: var(--font-family);
  color: var(--secondary-color);
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--primary-color);
}

#background-layer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('assets/About/bg-black.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color); /* Cambia colore se vuoi */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease;
  opacity: 1;
  pointer-events: all;
}

.loader {
  width: 100px;
  height: auto;
  padding: 10px;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

#site-title {
  color: var(--secondary-color);
  font-size: 11.5vw;
  line-height: 9.5vw;
  font-weight: 700;
  position: fixed;
  padding-top: 1vw;
}

.accordion {
  .item {
    line-height: 6em;
    border-bottom-width: 0vw;
    border-bottom-color: var(--secondary-color);

    button {
      font-size: var(--font-big);
      color: var(--quadrary-color); 
      font-weight: 900;
      line-height: 8vw;
      padding-top: 3.3vw;
      padding-bottom: 1vw;
      text-transform: uppercase;
    }

    &.active {
      .icon {
        transform: rotate(45deg);
      }
    }

    .contentps {
      color: var(--secondary-color);
      white-space: pre-line;
      font-weight: 700;
      font-kerning: auto;
      margin-left: 1vw;
      margin-right: 1vw;
      font-size: 2em;
      line-height: 1.2em;
    }

    .content {
      color: var(--quadrary-color);
      white-space: pre-line;
      font-weight: 700;
      font-kerning: auto;
      margin-left: 2vw;
      margin-right: 8vw;
      font-size: 2em;
      line-height: 1.2em;
    }
    &.active {
      .icon {
        transform: rotate(45deg);
      }

    }
  }
}

#menu {
  position: absolute;
  top: 100vh;
  width: 100vw;
  font-weight: 900;  
}

#menu-toggle {
  position: absolute;
  top: 18.5vh;
  justify-content: center;
  z-index: 1000;
  font-size:xx-large;
  line-height: 30%;
  font-weight: 700;
}

#menu-opener {
  padding-bottom: 0.16em;
  padding-left: 1vw;
  justify-content: left;
  align-items: left;
  font-size: 10vw;
  font-weight: 700;
}

.highlight {
color: var(--secondary-color);
}

.highlighty {
  color: var(--tertiary-color);
  }

.cit {
  text-align: center;
}

.contacts {
  white-space: pre-line;
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.8vw;
  line-height: 1.2em;
}

.capiamo {
  border: 2px solid var(--tertiary-color);
  height: fit-content;
}

.capiamo2 {
  border: 2px solid var(--tertiary-color);
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-sizer {
  width: 33%; /* 4 colonne */
}

.grid-item {
  width: 33%;
  padding-left: 1.05vw;
  margin-bottom: 1vw;
  box-sizing: border-box;
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
}

.grid-item--66wide {
  width: 66%;
}

#item-hover:hover{
  color: var(--secondary-color); 
  transition: all 200ms ease-in;
}
